@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none !important;
}
.title{
  padding: 60px 0;
}
.title h2{
  text-transform: uppercase;
  text-align: center;
}
.title h5{
  font-weight: 400;
  text-align: center;
  color: #9195a2;
  margin-bottom: 20px;
}
.title .custom-hr{
  height: 5px;
  width: 60px;
  margin: auto;
  background-color: #F72249;
}
.gray-background{
  background-color: #f6f7fd !important; 
}
/*Boje ----------------
Crvena - #F72249
Teget - #0E1B4D
Pozadina(siva) - #F7F7FD 
Footer(crna) - #030919
Copyright - #101522 
----------------------*/